{% extends 'Base.html' %} {% block Title%} {{sector.Sector_Name}} {%endblock%} {% block content%}

<style>
    .card {
        width: 100%;
    }
    tr
    {
        text-align: center;
       
        font-weight: bolder;
    }
    td {
        text-align: center;
        
    }
    h5 {
        color: rgb(0, 98, 155);
        font-weight: bolder;
        text-align: center;
    }
    a{
        color: black;
    }
    tbody tr:hover {
        background-color: lightgray; /* Change the background color to a different shade */
    }
</style>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">


            <div class="card">
                <div class="card-header card-title">
                    <h5>جديد
                    </h5>
                </div>
                <div class="card-body">
                    <div style="float: right;">
                    </div>


                    <table id="bootstrap-data-table-export   " class="table table-striped table-bordered    ">
                        <thead>
                            <tr>

                                <th> أمر الشغل</th>
                                <th>العميل</th>
                                <th> المنتج</th>
                                <th>الكمية</th>
                                <th>المرحلة</th>
                                <th >ممثل العميل </th>
                                <th>Created Date</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for new in New %}
                                <tr style="text-align: center;  font-weight: bolder; color: black; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;"  ondblclick="window.location='{% url 'Order_details' new.pk %}'" style="cursor: pointer;">
                            <td><a href="{% url 'Order_details' new.pk %}">{{new.Ord_work_order_number}}</a></td>
                            <td><a  style="text-align: center; font-weight: bolder; font-size:medium; color: rgb(0, 98, 155);" href="{% url 'representative_view'  new.Ord_Product.Product_Customer.pk %}  ">{{new.Ord_Product.Product_Customer}}</a></td>
                            <td><a style="text-align: center;  font-weight: bolder;" href="{% url 'product_orders' new.Ord_Product.Product_Sector.pk new.Ord_Product.Product_Customer.pk new.Ord_Product.pk %} ">{{new.Ord_Product.Product_Name}}</a></td>
                            <td>{{new.Ord_Required_quantity}}</td>
                            <td><a style="text-align: center; color: darkcyan; font-weight: bolder;" href="{% url 'order_status_update' new.Ord_Product.Product_Sector.pk new.Ord_Product.Product_Customer.pk new.Ord_Product.pk new.pk %} " type="button " target="popup " onclick="window.open( this.href, 'name', 'width=800,height=600') " 
                                data-toggle="tooltip " title="Edit Status ">{{new.Ord_states}}</a></td>

                            <td>{{new.Ord_Product.customer_representative}}</td>
                            <td>{{new.Ord_Created_Dt}}</td>

                           
                            </tr>
                            {% endfor %}


                        </tbody>

                    </table>
                </div>
            </div>


            <div class="card">
                <div class="card-header card-title">
                    <h5>تصميم </h5>
                </div>
                <div class="card-body">
                    <div style="float: right;">
                    </div>


                    <table id="bootstrap-data-table-export   " class="table table-striped table-bordered    ">
                        <thead>
                            <tr>
                                <th> أمر الشغل
                                </th>
                                <th>العميل
                                </th>
                                <th> المنتج</th>
                                <th>الكمية</th>
                                <th>المرحلة</th>
                                <th >ممثل العميل </th>
                                <th>Created Date</th>
                                

                            </tr>
                        </thead>
                        <tbody>
                            {% for design in design %} 
                                <tr style="text-align: center;  font-weight: bolder; color: black; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;" ondblclick="window.location='{% url 'Order_details' design.pk %}'" style="cursor: pointer;">
                            <td><a href="{% url 'Order_details' design.pk %}">{{design.Ord_work_order_number}}</a></td>
                            <td><a  style="text-align: center; font-weight: bolder; font-size:medium; color: rgb(0, 98, 155);" href="{% url 'representative_view'  design.Ord_Product.Product_Customer.pk %}  ">{{design.Ord_Product.Product_Customer}}</a></td>
                            <td><a style="text-align: center;  font-weight: bolder;" href="{% url 'product_orders' design.Ord_Product.Product_Sector.pk design.Ord_Product.Product_Customer.pk design.Ord_Product.pk %} ">{{design.Ord_Product.Product_Name}}</a></td>
                            <td>{{design.Ord_Required_quantity}}</td>
                            <td><a style="text-align: center; color: darkcyan; font-weight: bolder;" href="{% url 'order_status_update' design.Ord_Product.Product_Sector.pk design.Ord_Product.Product_Customer.pk design.Ord_Product.pk design.pk %} " type="button " target="popup " onclick="window.open( this.href, 'name', 'width=800,height=600') " 
                                data-toggle="tooltip " title="Edit Status ">{{design.Ord_states}}</a></td>

                            <td>{{design.Ord_Product.customer_representative}}</td>
                            <td>{{design.Ord_Created_Dt}}</td>

                          
                            </tr>
                            {% endfor %}


                        </tbody>

                    </table>
                </div>
            </div>


            <div class="card">
                <div class="card-header card-title">
                    <h5>مونتاج </h5>
                </div>
             
                <div class="card-body">
                    <div style="float: right;">
                    </div>


                    <table id="bootstrap-data-table-export   " class="table table-striped table-bordered    ">
                        <thead>
                            <tr>
                                <th> أمر الشغل</th>
                                <th>العميل</th>
                                <th> المنتج</th>
                                <th>الكمية</th>
                                <th>المرحلة</th>
                                <th >ممثل العميل </th>
                                <th>Created Date</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for Produced_by in Produced_by %}
                            <tr style="text-align: center; color: darkcyan; font-weight: bolder; color: black; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;"  ondblclick="window.location='{% url 'Order_details' Produced_by.pk %}'" style="cursor: pointer;">
                            <td><a href="{% url 'Order_details' Produced_by.pk %}">{{Produced_by.Ord_work_order_number}}</a></td>
                            <td><a  style="text-align: center; font-weight: bolder; font-size:medium; color: rgb(0, 98, 155);" href="{% url 'representative_view'  Produced_by.Ord_Product.Product_Customer.pk %}  ">{{Produced_by.Ord_Product.Product_Customer}}</a></td>
                            <td><a style="text-align: center;  font-weight: bolder;" href="{% url 'product_orders' Produced_by.Ord_Product.Product_Sector.pk Produced_by.Ord_Product.Product_Customer.pk Produced_by.Ord_Product.pk %} ">{{Produced_by.Ord_Product.Product_Name}}</a></td>
                            <td>{{Produced_by.Ord_Required_quantity}}</td>
                            <td><a style="text-align: center; color: darkcyan; font-weight: bolder;" href="{% url 'order_status_update' Produced_by.Ord_Product.Product_Sector.pk Produced_by.Ord_Product.Product_Customer.pk Produced_by.Ord_Product.pk Produced_by.pk %} " type="button " target="popup " onclick="window.open( this.href, 'name', 'width=800,height=600') " 
                                data-toggle="tooltip " title="Edit Status ">{{Produced_by.Ord_states}}</a></td>


                            <td>{{Produced_by.Ord_Product.customer_representative}}</td>
                            <td>{{Produced_by.Ord_Created_Dt}}</td>


                           
                            </tr>
                            {% endfor %}


                        </tbody>

                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-header card-title">
                    <h5>أفلام  </h5>
                </div>
                <div class="card-body">
                    <div style="float: right;">
                    </div>


                    <table id="bootstrap-data-table-export   " class="table table-striped table-bordered    ">
                        <thead>
                            <tr>
                                <th> أمر الشغل
                                </th>
                                <th>العميل
                                </th>
                                <th> المنتج</th>
                                <th>الكمية</th>
                                <th>المرحلة</th>
                                <th >ممثل العميل </th>
                                <th> مقاس المونتاج</th>

                                <th>Created Date</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for aflam in aflam %}
                                <tr style="text-align: center;  font-weight: bolder; color: black; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;"  ondblclick="window.location='{% url 'Order_details' aflam.pk %}'" style="cursor: pointer;">
                            <td><a href="{% url 'Order_details' aflam.pk %}">{{aflam.Ord_work_order_number}}</a></td>
                            <td><a  style="text-align: center; font-weight: bolder; font-size:medium; color: rgb(0, 98, 155);" href="{% url 'representative_view'  aflam.Ord_Product.Product_Customer.pk %}  ">{{aflam.Ord_Product.Product_Customer}}</a></td>
                                <td><a style="text-align: center;  font-weight: bolder;" href="{% url 'product_orders' aflam.Ord_Product.Product_Sector.pk aflam.Ord_Product.Product_Customer.pk aflam.Ord_Product.pk %} ">{{aflam.Ord_Product.Product_Name}}</a></td>
                                <td>{{aflam.Ord_Required_quantity}}</td>
                                <td><a style="text-align: center; color: darkcyan; font-weight: bolder;" href="{% url 'order_status_update' aflam.Ord_Product.Product_Sector.pk aflam.Ord_Product.Product_Customer.pk aflam.Ord_Product.pk aflam.pk %} " type="button " target="popup " onclick="window.open( this.href, 'name', 'width=800,height=600') " 
                                    data-toggle="tooltip " title="Edit Status ">{{aflam.Ord_states}}</a></td>


                            <td>{{aflam.Ord_Product.customer_representative}}</td>
                            <td>{{aflam.Ord_montage_size}}</td>

                            <td>{{aflam.Ord_Created_Dt}}</td>


                            </tr>
                            {% endfor %}


                        </tbody>

                    </table>
                </div>
            </div>

         

        </div>


    </div>
</div>
<!-- .animated -->
<!-- .content -->



{%endblock%}