{% extends 'layouts/base.html' %} {% block Title%} Change Password Success{%endblock%} {% block content%}



<!-- BreadCrumbs -->
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <ol class="breadcrumb my-4">
                    <li class="active"><a href="{%url 'change password' %}"> Change Password </a> </li>
                    <li class="active">Success</li>

                </ol>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-4">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Sectors</li>
                            <li class="active">{{Sector.Sector_Name}}</li>
                        </ol>
                    </div>
                </div>
            </div>  -->
</div>
<!-- BreadCrumbs -->

<!-- Content -->
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">


                <div class="alert alert-success" role="alert">
                    your password has been changed


                    <a href="{%url 'transaction'%}">Return to Dashboard</a>


                </div>
            </div>
        </div>

    </div>
    <!-- .animated -->
</div>
<!-- .content -->



{%endblock%}