{% extends 'Base.html' %} {% block Title%} Change Password {%endblock%} {% block content%}




<!-- BreadCrumbs -->

<!-- Content -->
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">


                    <form method="post" novalidate>



                        <div class="card rounded ">
                            <div class="card-header  text-white bg-dark rounded text-white bg-dark">
                                <strong>
                                    <a href="{% url 'sectors' %}" style="padding-bottom: 0;">Sectors <i class="menu-icon fa fa-flag"></i></a> / 
                                    Change Password</strong>
                            </div>



                            <div class="card-body card-block  bg-light ">
                                {% csrf_token%} {% include 'Includes/Form.html' %}
                                <div class="card-body card-block text-xl-center rounded  ">
                                    <button type="submit" class="btn btn-success col-lg-5 rounded">Add</button>
                                </div>
                            </div>


                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>
    <!-- .animated -->
</div>
<!-- .content -->



{%endblock%}