{% extends 'Base.html' %} {%load widget_tweaks%} {% block Title%} Create New Product  {%endblock%} {% block content%}




<div class="content mt-3  ">
    <div class="animated fadeIn">
        <div class="row">


            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-title">
                        <h5>
                            <a href="{% url 'sectors' %}">Sectors</a> /
                            <a href="{% url 'sector_customers' customer.Customer_Sector.pk %}">{{customer.Customer_Sector.Sector_Name}}</a> /
                            <a href="{% url 'customer_products' customer.Customer_Sector.pk  customer.pk %}"> {{customer.Customer_Name}}</a> / New Product
                        </h5>
                    </div>

                    <form method="post">
                        {% csrf_token%}


                        <div class="row rounded">
                            <form method="post" enctype="multipart/form-data">

                                <div class="col-md-12  " dir="rtl">

                                    <div class="card-header text-right text-white bg-dark rounded ">
                                        <strong>الموصفات الرئسيه للمنتج </strong>
                                    </div>


                                    <div class="card-body card-block text-lg-right bg-light   ">
                                        <div class="card-body card-block">
                                            <form action="" method="post" enctype="multipart/form-data">

                                                {{form.as_p}}
                                        </div>
                                        </form>
                                    </div>


                                </div>









                                <div class="col-md-12 " dir="rtl">

                                    <div class="card-header text-right text-white bg-dark rounded" text-white bg-dark>
                                        <strong>مواصفات الطباعه والتصميم </strong>
                                    </div>



                                    <div class="card-body card-block text-lg-right bg-light ">
                                        {{form_2.as_p}}
                                    </div>


                                </div>

                                <div class="col-md-12" dir="rtl">

                                    <div class="card-header text-right text-white bg-dark rounded" text-white bg-dark>
                                        <strong>مواصفات الورق</strong>
                                    </div>



                                    <div class="card-body card-block  text-lg-right bg-light  ">
                                        {{form_3.as_p}}
                                    </div>


                                </div>
                                <div class="col-md-12" dir="rtl">

                                    <div class="card-header text-right text-white bg-dark rounded" text-white bg-dark>
                                        <strong>خدمات ما بعد الطباعه</strong>
                                    </div>

                                    <div class="card-body card-block text-lg-right bg-light  ">
                                        {{form_4.as_p}}
                                    </div>


                                </div>
                                <div class="col-md-12" dir="rtl">

                                    <div class="card-header text-right text-white bg-dark rounded" text-white bg-dark>
                                        <strong>بيانات التكسير</strong>
                                    </div>



                                    <div class="card-body card-block  text-lg-right bg-light ">
                                        {{form_5.as_p}}
                                    </div>


                                </div>
                                <div class="col-md-12" dir="rtl">

                                    <div class="card-header text-right text-white bg-dark rounded" text-white bg-dark>
                                        <strong>بيانات التلزيق والتجليد</strong> </div>



                                    <div class="card-body card-block text-lg-right bg-light ">
                                        {{form_6.as_p}}
                                    </div>


                                </div>
                                <div class="col-md-12" dir="rtl">

                                    <div class="card-header text-right text-white bg-dark rounded" text-white bg-dark>
                                        <strong>بيانات المنتج التام والتعبئة</strong> </div>



                                    <div class="card-body card-block text-lg-right bg-light ">
                                        {{form_7.as_p}}
                                    </div>


                                </div>
                                <div class="col-md-12" dir="rtl">

                                    <div class="card-header text-right text-white bg-dark rounded" text-white bg-dark>
                                        <strong>بيانات المنتج التام والتعبئة</strong> </div>



                                    <div class="card-body card-block text-lg-right bg-light ">
                                        {{form_8.as_p}}
                                    </div>


                                </div>

                                <div class="card-body card-block text-xl-center rounded  ">
                                    <button type="submit" class="btn btn-success col-lg-5 rounded">Add</button>
                                </div>


                            </form>
                        </div>



                </div>
            </div>

        </div>
        <!-- .animated -->
    </div>
</div>
<!-- .content -->



{%endblock%}