{% extends 'Base.html' %}{% load static %} {% block Title%} {{product.Product_Name}} {%endblock%} {% block body%}


<!-- BreadCrumbs -->

<!-- BreadCrumbs -->


<!-- Content -->


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="card ">
            <div class="card-header card-title text-center">
                <div class="col-3"><img src="{% static 'images/logo.jpg'%}" alt="Logo">
                </div>
                <h1 class="card-title text-center">

                    product file &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{product.Product_MyCode}}

                </h1>
            </div>
            <div class="card text-right ">

                <div class="card-body ">

                    <div class="container">
                        <div class="row">
                            <div class="w-100">

                                <div class="card">
                                    <h5 class="card-header">الموصفات الرئسيه للمنتج
                                    </h5>
                                    <div class="card-body">
                                        <p class="card-text">
                                            <div class="row">
                                                <div class="col">{{product.customer_representative}}<label dir='rtl'>ممثل العميل: </label></div>
                                                <div class="col">{{product.Product_Sector}}
                                                    <label dir='rtl'> القطاع :</label></div>
                                                <div class="w-100"></div>
                                                <div class="col">{{product.Product_Code}} <label dir='rtl'>كود المنتج لدى العميل: </label></div>
                                                <div class="col">{{product.Product_Customer}}<label dir='rtl'>إسم العميل: </label></div>
                                                <div class="w-100"></div>
                                                <div class="col">{{product.Product_MyCode}}<label dir='rtl'>كود المنتج: </label></div>
                                                <div class="col">{{product.Product_Name}}
                                                    <label dir='rtl'>إسم المنتج:</label></div>

                                                <div class="w-100"></div>
                                                <div class="col">الطول:{{product.Product_length}} العرض: {{product.Product_width}} الإرتفاعه: {{product.Product_height}}<label dir='rtl'>مقاس المنتج:</label>
                                                </div>
                                                <div class="col"> {{product.product_dicription.Product_Description_type}}<label dir='rtl'>وصف المنتج: </label></div>

                                                <div class="w-100"></div>
                                                <div class="col">المتوسط للكميه: {{product.product_avrage_prdect_ammount}} </div>
                                                <div class="col">{{product.Product_Allowable_increase}} <label dir='rtl'>سماحية الزيادة: </label></div>

                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-100">

                                <div class="card">
                                    <h5 class="card-header">مواصفات التصميم والطباعة
                                    </h5>
                                    <div class="card-body">
                                        <p class="card-text">
                                            <div class="row">
                                                <div class="col">{{product.Product_Design_and_printing_specifications.pro_design_source}}<label dir='rtl'>نوع التصميم: </label></div>
                                                <div class="col">{{product.Product_Design_and_printing_specifications.pro_design_type}}
                                                    <label dir='rtl'>مصدر التصميم: </label></div>
                                                <div class="w-100"></div>
                                                <div class="col">{{product.Product_Design_and_printing_specifications.pro_old_execution}} <label dir='rtl'></label></div>
                                                <div class="col"> {{product.Product_Design_and_printing_specifications.number_of_sides}}<label dir='rtl'>عدد الاوجه: </label></div>
                                                <div class="w-100"></div>
                                                <div class="col">{{product.Product_Design_and_printing_specifications.pro_design_ditals}} <label dir='rtl'>تفاصيل التصميم: </label></div>
                                                <div class="w-100"></div>
                                                <div class="col">{{product.Product_Design_and_printing_specifications.product_color}} <label dir='rtl'>الألوان: </label></div>
                                                <div class="w-100"></div>
                                                <div class="col"> {{product.Product_Design_and_printing_specifications.tinted_colors6}}</div>
                                                <div class="col">{{product.Product_Design_and_printing_specifications.tinted_colors5}}</div>
                                                <div class="col">{{product.Product_Design_and_printing_specifications.tinted_colors4}}</div>
                                                <div class="col">{{product.Product_Design_and_printing_specifications.tinted_colors3}}</div>
                                                <div class="col">{{product.Product_Design_and_printing_specifications.tinted_colors2}}</div>
                                                <div class="col">
                                                    {{product.Product_Design_and_printing_specifications.tinted_colors1}}<label> :الألوان المخصوصه</label></div>



                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100">

                                <div class="card">
                                    <h5 class="card-header">مواصفات الورق
                                    </h5>
                                    <div class="card-body">
                                        <p class="card-text">
                                            <div class="row">
                                                <div class="col">{{product.Product_paper_specification.fiber_direction}}<label dir='rtl'>إتجاه الألياف: </label></div>
                                                <div class="col">{{product.Product_paper_specification.pro_paper_type}}
                                                    <label dir='rtl'>نوع الورق:</label></div>
                                                <div class="w-100"></div>
                                                <div class="col">{{product.Product_paper_specification.pro_paper_gram}} <label dir='rtl'>جرامات الورق: </label></div>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-100">

                                <div class="card">
                                    <h5 class="card-header">خدمات الورق
                                    </h5>
                                    <div class="card-body">
                                        <p class="card-text">
                                            <div class="row">
                                                <div class="col">{{product.Product_Aftar_Print_Services.pro_aftar_print_services_detals}}<label dir='rtl'>تفاصيل الخدمة: </label></div>
                                                <div class="col">{{product.Product_Aftar_Print_Services.pro_aftar_print_services_type}}<label class="font-weight-bold" dir='rtl'>خدمات ما بعد الطباعة:</label></div>
                                                <div class="w-100"></div>
                                                <div class="col">{{product.Product_Crushing_Data.pro_crushing_data_detals}}<label dir='rtl'>تفاصيل الخدمة:</label></div>
                                                <div class="col">{{product.Product_Crushing_Data.pro_crushing_data_type}}<label class="font-weight-bold" dir='rtl'>بيانات التكسير:</label></div>
                                                <div class="w-100"></div>
                                                <div class="col">{{product.Product_Gluing_And_Binding_Data.pro_Gluing_And_Binding_Data_detals}}<label dir='rtl'>تفاصيل الخدمة:</label></div>
                                                <div class="col">{{product.Product_Gluing_And_Binding_Data.pro_Gluing_And_Binding_Data_type}}<label class="font-weight-bold" dir='rtl'>بيانات التلزيق والتجليد</label></div>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-100">

                                <div class="card">
                                    <h5 class="card-header">بيانات المنتج التام والتعبئة
                                    </h5>
                                    <div class="card-body">
                                        <p class="card-text">
                                            <div class="row">
                                                <div class="col">{{product.Product_Finished_product_and_packing_data.pro_finished_product_and_packing_data_type}}
                                                    <label dir='rtl'>المنتج النهائى :</label></div>
                                                <div class="col">{{product.Product_Finished_product_and_packing_data.pro_Finished_product_and_packing_data_Baku}}<label dir='rtl'>الباكو:</label></div>
                                                <div class="w-100"></div>
                                                <div class="col">{{product.Product_Finished_product_and_packing_data.pro_finished_product_and_packing_data_detals}} <label dir='rtl'>تفاصيل الخدمة:</label></div>
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            {% if product.Product_Details %}
                            <div class="w-100">

                                <div class="card">
                                    <h5 class="card-header text-left">   Product Details </h5>
                                    <div class="card-body">
                                
                                            <div class="row">
                                                <div class="col">{{product.Product_Details}}</div>
                                                
                                       
                                            </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% endif %}
                        </div>
                    </div>






                </div>
                <div class="card-footer text-muted ">

                    <p class="card-text text-left "> {{product.Created_Dt}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Created_By:{{product.Created_By}}</p>

                </div>
            </div>










        </div>
    </div>



</div>

{%endblock%}