<div class="col-12">

    <div class="card">
        <h5 class="card-header"> التكاليف
        </h5>
        <div class="card-body">
            <p class="card-text">
                <div class="row" dir='rtl'>

                    <h6>تكاليف التجهيزات الفنية</h6>
                    <div class="w-100"></div>
                    <div class="col"><label dir='rtl'> زنك: </label> .............................................................</div>
                    <div class="col"><label dir='rtl'>فورم: </label> .............................................................</div>
                    <div class="col"><label dir='rtl'>أخرى: </label> .............................................................</div>
                    <div class="w-100"></div>
                    <div class="col"><label dir='rtl'> <h6>تكاليف ورق الكرتون: </h6> </label> ................................................................................</div>
                    <div class="col"><label dir='rtl'><h6>تكاليف  الطباعة: </h6> </label> ....................................................................................</div>
                    <div class="w-100"></div>
                    <h6>تكاليف ما بعد الطباعه</h6>
                    <div class="w-100"></div>
                    <div class="col"><label dir='rtl'> سيلوفان: </label> ..................................</div>
                    <div class="col"><label dir='rtl'>ورنيش: </label> .....................................</div>
                    <div class="col"><label dir='rtl'>يوفى: </label> ......................................</div>
                    <div class="col"><label dir='rtl'>أخرى: </label> .......................................</div>

                    <div class="w-100"></div>
                    <h6>تكاليف التكسير </h6>
                    <div class="w-100"></div>
                    <div class="col"><label dir='rtl'> ريج: </label> ...........................................................................................................</div>
                    <div class="col"><label dir='rtl'>تكيسر: </label> ..........................................................................................................</div>
                    <div class="w-100"></div>
                    <div class="col"><label dir='rtl'> <h6>تكاليف اللزق  والتجليد: </h6> </label> .........................................................................</div>
                    <div class="col"><label dir='rtl'><h6> خدمات أخرى: </h6> </label> ...............................................................................................</div>
                    <div class="w-100"></div>
                    <div class="col"><label dir='rtl'><h6>إجمالى: </h6> </label> ....................................................................................................</div>
                    <div class="col"><label dir='rtl'><h6> عمولة: </h6> </label> ..........................................................................................................</div>
                    <div class="w-100"></div>
                    <div class="col"><label dir='rtl'> <h6>إجمالى: </h6> </label> ................................................................................................</div>
                    <div class="col"><label dir='rtl'><h6> ضريبة: </h6> </label> ..........................................................................................................</div>
                    <div class="w-100"></div>
                    <div class="col"><label dir='rtl'> <h6>السعر شامل الضريبة: </h6> </label> ..........................................................................................</div>





            </p>
            </div>
        </div>
    </div>
</div>